@font-face {
  font-family: 'Iosevka Slab';
  src: url('/fonts/iosevka-slab-regular.woff2') format('woff2'),
  url('/fonts/iosevka-slab-regular.woff') format('woff'),
  url('/fonts/iosevka-slab-regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: Iosevka Slab, Helvetica, sans-serif;
  font-size: 120%;
}

#content {
  width: 250px;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;

  border: 1px dashed black;
  padding: 10px;
}

#content div {}

a {
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: black;

  display: block;
}

.selected {
  color: white;
  background: black;
}

.selected a {
  color: white;
}

#cmdline {
  position: fixed;
  bottom: 0px;
  padding: 2px;
}
